@font-face {
  font-family: 'Great Vibes';
  src: url(https://fonts.gstatic.com/s/greatvibes/v14/RWmMoKWR9v4ksMfaWd_JN9XFiaQ.woff2) format('woff2');
}

@font-face {
  font-family: 'Nova Mono';
  src: url(https://fonts.gstatic.com/s/novamono/v18/Cn-0JtiGWQ5Ajb--MRKvZ2ZZ.woff2) format('woff2');
}

@font-face {
  font-family: 'Work Sans';
  src: url(https://fonts.gstatic.com/s/worksans/v17/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXBi8Jpg.woff2) format('woff2');
}

body {
  background-color: paleturquoise;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*Navigation*/
#navbar {
  background-color: lightcyan;
  border-bottom: 1px solid black;
  height: 50px;
  overflow: wrap;
  position: absolute;
  top: 0;
  width: 100%;
}

#navbar a {
  color: hotpink;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

#navbar li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
}

#navbar a:hover,
a:hover {
  color: aquamarine;
  font-weight: 700;
  text-shadow: -.5px -.5px 0 gray, .5px -.5px 0 gray, -.5px .5px 0 gray, .5px .5px 0 gray;
}

/*Header*/
.giphy-embed {
  margin-bottom: -80px;
  margin-top: 60px;
}

h1 {
  color: pink;
  font-family: 'Great Vibes', cursive;
  font-size: 75px;
  position: relative;
  text-shadow: 2px 2px 5px black;
  top: 40px;
}

/*Table*/
h2 {
  color: black;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 2px;
  margin-top: 75px;
}

table {
  background-color: lightcyan;
  border: 5px double black;
  margin: 0 auto;
  max-width: 75%;
  padding: 5px;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 30%;
}

.col-3 {
  width: 50%;
}

th {
  background-color: powderblue;
  color: lightpink;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  padding: 10px;
  text-shadow: -1px -1px 0 aliceblue, 1px -1px 0 aliceblue, -1px 1px 0 aliceblue, 1px 1px 0 aliceblue;
}

td {
  border-top: 1px solid black;
  font-family: 'Work Sans', sans-serif;
  padding: 10px;
}

/*In-table HTML/CSS tag representation*/
.tag,
.small-tag {
  background-color: powderblue;
  color: hotpink;
  font-family: 'Nova Mono', monospace;
  font-weight: 900;
  padding: 0 2px;
}

.small-tag {
  font-size: 12px;
}

/*Back to top*/
footer {
  margin: 25px auto;
}

footer a {
  color: hotpink;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  text-decoration: none;
}

/*ladyvankan*/
#signature {
  color: #E9237A;
  font-family: "Great Vibes", cursive;
  font-size: 20px;
  padding-right: 1em;
  text-align: right;
}